.hero{
    display:flex;
    justify-content: space-between;
    
}

.hero-blur{
    width:30rem;
    height:30rem;
}
.left{
    padding:1rem;
    padding-top:1.5rem;
    flex:3;
    display:flex;
    gap:2rem;
    flex-direction: column;
   
    
}

.right{
    flex:1;
    background-color:var(--orange);
    /* filter:blur(2px);     */
}

.the_best_ad{
    margin-top:3rem;
    background-color: #363d42;
    border-radius:3rem;
    width:fit-content;
    padding:15px 10px;
    text-transform: uppercase;
    color:white;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.the_best_ad>span{
    z-index: 2;
}
.the_best_ad>div{
    position:absolute;
    background-color: var(--orange);
    width:5rem;
    height: 80%;
    left:8px;
    border-radius: 5rem;
    
}

.hero-text{
    display:flex;
    flex-direction: column;
    gap:1rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    color:white;
    text-overflow:inherit; /*it will wrap itself*/
}

.hero-text>div:nth-of-type(3){
    font-size:1rem;
    font-weight:200;
    text-transform: none;
    letter-spacing: 1px;
    width:80%;   
}

.figures{
    display:flex;
    gap: 2rem;
}

.figures>div{
    display:flex;
    flex-direction: column;
}


.figures>div>span:nth-of-type(1){
    color:whitesmoke;
    font-weight: bold;
    text-transform: none;
}

.figures>div>span:nth-of-type(2){
    color:var(--gray);
    text-transform: uppercase;
}

.hero-buttons{
    display:flex;
    gap:1rem;
    font-weight:normal;
}

.hero-buttons>:nth-child(1){
    color: white;
    background-color: var(--orange);
    width:8rem;
}

.hero-buttons>:nth-child(2){
    color:white;
    background-color: transparent;
    border: 2px solid var(--orange);
    width:8rem;
}

.right>.btn{
    position:absolute;
    right:3rem;
    top:2rem;
    width:6rem;
}

.heart-rate{
    background-color: var(--darkGrey);
    display:flex;
    flex-direction: column;
    width:fit-content;
    padding:1rem;
    gap:1rem;
    align-items: flex-start;
    border-radius: 5px;
    position:absolute;
    right:3rem;
    top:6rem;
}
.heart-rate>:nth-child(2){
    color: gray;
}
.heart-rate>:nth-child(3){
    color:white;
}

.hero_image {
    position: absolute;
    right: 13rem;
    top: 10rem;
    width: 18rem;
  }
  
.hero_image_back{
    position:absolute;
    width:12rem;
    top:3rem;
    right:21rem;
    z-index: -1;
}

.calories{
    position:absolute;
    top:26rem;
    right: 46rem;
    display:flex;
    gap:0.5rem;
    background-color: var(--caloryCard);
    padding:0.5rem;
    border-radius: 0.5rem;
    width:fit-content;
}

.calories>img{
    width: 2.5rem;
}

.calories>div{
    display:flex;
    flex-direction: column;  
    justify-content: space-between; 
}

.calories>div>:nth-child(1){
    color: var(--gray);
}

.calories>div>:nth-child(2){
    color:white;
    font-size:1rem;
}