.Testimonials{
    display:flex;
    margin-top:5rem;
    margin-top:5rem;
    padding:0 2rem;
}
.testimonials-l{
    display:flex;
    flex-direction: column;
    flex:1 1;  
    gap:2rem;
}

.testimony-header{
    font-size:3rem;
    text-transform: uppercase;
    font-weight: bold;
    display:grid;
}
.testimonials-l>:nth-child(2){
    font-size:1rem;
    color:aliceblue;
}

.speaker>:nth-child(1), .speaker>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
    color:var(--orange);
}
.testimonials-r{
    display: flex;
    flex:1;
    /* flex-direction: column; */
   position:relative;
}
.testimonials-r>:nth-child(4){
    position:absolute;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    top:0rem;
    right:20rem;
}

.testimonials-r>:nth-child(2){
    width:15rem;
    height:15rem;
    border:2px solid var(--orange);
    position:absolute;
    top:-1rem;
    right:22rem;
}
.testimonials-r>:nth-child(3){
    width:15rem;
    height:15rem;
    background-color: var(--orange);
    position:absolute;
    top:2rem;
    right:18rem;
}

.arrow{
    position:absolute;
    top:12rem;
    right:40rem;
    display:flex;
    gap:2rem;

}

.arrow>:nth-child(1), .arrow>:nth-child(2){
    width:1.5rem;
    cursor: pointer;

}

@media screen and (max-width: 768px) {
    .Testimonials{
        display:grid;
        margin-top:5rem;
        padding:0 2rem;
    }
    .testimony-header{
        font-size:x-large;
        display:grid;
        justify-content: center;
        align-items: center;
    }
    .testimonials-r{
        display: grid;
        flex:1 1;
        position:relative;
       
        /* flex-direction: column; */
    }
    .testimonials-r>:nth-child(4){
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        position:absolute;
        top:5rem;
        right:-0.5rem;
        
    }
    
    .testimonials-r>:nth-child(2){
        width:15rem;
        height:15rem;
        border:2px solid var(--orange);
        position:relative;
        position:absolute;
        top:4rem;
        right:0rem;
    }
    .testimonials-r>:nth-child(3){
        width:15rem;
        height:15rem;
        background-color: var(--orange);
        position:absolute;
        top:6rem;
        right:-1rem;
        
    }
    
    .arrow{
        position:relative;
        top:1rem;
        right:0rem; 
    }
    
    .arrow>:nth-child(1), .arrow>:nth-child(2){
        width:1.5rem;
        cursor: pointer;
    
    }
    
}