.Programs{
    display:flex;
    flex-direction: column;
    margin-top:5rem;
    padding:0 2rem;
}

.programs-header{
    font-size: 3rem;
    gap:3rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    font-style:italic;
}

.program-categories{
    display:flex;
    gap:1rem;
}

.category{
    display:flex;
    flex-direction:column;
    background-color: gray;
    padding:1rem;
    gap:1rem;
    color:white;
    justify-content: space-between;
}

